

.form-container{
	padding-bottom: 20px
}

#error_displayer{
	display: none;
}

#table_container{
	display: none;
}

.movie_thumbnail{
	width: 150px;
	height: 200px;
}

.detailsPosterThumbnail{
	width: 270px;
	height: 400px;
}
